* {
  padding: 0px;
  margin: 0px;
  font-family: "League Spartan";
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  background-color: hsl(0, 0%, 100%);
}

#first {
  justify-content: center;
  gap: 80px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 35px;
  padding: 5px;
  margin-bottom: 15px;
}

.paragraph1 {
  color: hsl(303, 10%, 53%);
  opacity: 0.6;
}

.common {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subhead {
  display: flex;
  flex-direction: column;
}

#second {
  justify-content: center;
  gap: 25px;
}

.content {
  flex-direction: column;
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 150px;
  gap: 20px;
}

.title {
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 45px;
  gap: 15px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.star {
  width: 320px;
  height: 30px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.paragraph {
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
}

.diff-color {
  color: hsl(333, 80%, 67%);
  opacity: 0.6;
}

h4 {
  color: hsl(0, 0%, 100%);
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}

.star-title {
  font-size: 13px;
  opacity: 0.7;
}

.star:nth-of-type(2) {
  margin-left: 30;
}

.star:nth-of-type(3) {
  margin-left: 60;
}

.down2 {
  margin-top: 20px;
}

.down3 {
  margin-top: 30px;
}
